version: 2.1
orbs:
  node: circleci/node@4.5.1

jobs:
  working_directory: ~/workspace
  setup:
    executor: node/default
    steps:
      - checkout
      - node/install:
          node-version: 16.5.0
          npm-version: 7.19.1
      - node/install-packages:
          app-dir: 
          cache-path: node_modules
          override-ci-command: npm i
      - persist_to_workspace:
          root: .
          paths:
            - .
  build:
    executor: node/default
    steps:
      - attach_workspace:
          at: .
      - run:
          name: check node version
          command: node -v
      - checkout
      - run: 
          name: Build
          command: npm run build
      - persist_to_workspace:
          root: .
          paths:
            - .
  deploy:
    executor: node/default
    steps:
      - checkout
      - attach_workspace:
          at: .
      - add_ssh_keys:
          fingerprints:
            97:59:82:36:fc:b3:0a:92:c5:eb:9d:0e:65:05:32:b4
      - run:
          name: log in github
          command: |
            git config --global user.email "ichigomomiji436@gmail.com"
            git config --global user.name "Momijiichigo"
      
      - run:
          name: Deploy
          command: npm run deploy
workflows:
  build&deploy:
    jobs:
      - setup:
          filters:
            branches:
              only:
                - master
      - build:
          requires:
            - setup
      - deploy:
          requires:
            - build