:root {
  --page-padding-side: max(4vw, 4vh);
}

.container {
  position             : absolute;
  height               : fit-content;
  inset: 0;
  margin-right: auto;
  margin-left: auto;
  
  background           : #21374b;
  background-attachment: fixed;
  //scroll-snap-type: y mandatory;
  //font-size: 125%;
  text-align           : left;
  //  section {
  width                : min(50em, 90vw);
  // padding              : var(--page-padding-side);
  padding-top          : var(--header-hight);
  padding-bottom       : 5em;
  //padding-top: calc(var(--page-padding-side)/2);
  //scroll-snap-align: start;
  color                : #e7dacb;
  display              : block;

  //flex-direction: column;
  //&:nth-child(1){
  //
  #logo {
    width : min(50vw, 250px);
    margin: auto;
  }

  //}


  hr {
    height: 0;
    margin: 80px 0;
  }

  code {
    background-color: rgb(27 31 35 / 55%);
    color           : #DCDCDC;
  }

  pre {
    background-color: #272727cc;

    code {
      background-color: transparent;
    }
  }

  .markdown-body ul {
    padding-left: 1.5em;
  }

  a {
    color: #d66b1e;

    &::after {
      content: '↗︎';
    }
  }

  .bottom {
    top     : auto;
    bottom  : 0;
    position: relative;
  }

  .center {
    text-align  : center;
    margin: 80px 0 120px 0;
    font-size: max(15px, min(20px, 1.8vw));
  }

  //}
}
