.codespace {
  height: 700px;
  display: flex;
  @media (min-width: 701px) {
    &{
      flex-direction: row;
    }
    .editor-container {
      height: 100%;
      width: 50%;
    }
    .editor-result {
      height: 100%;
      width: 50%;
      background-color: gray;
    }
  }
  @media (max-width: 700px) {
    &{
      flex-direction: column;
    }
    .editor-container {
      height: 60%;
      width: 100%;
    }
    .editor-result {
      height: 40%;
      width: 100%;
      background-color: gray;
    }
  }
  /*
  @media (max-width: 700px) {
    .editor-container {
      height: 50%;
      width: 100%;
    }
    .editor-result {
      height: 50%;
      width: 100%;
      background-color: gray;
    }
  }
  @media (min-width: 701px){
    .editor-container {
      height: 100%;
      width: 50%;
    }
    .editor-result {
      height: 100%;
      width: 50%;
      background-color: gray;
    }
  }*/
}