:root {
  --header-hight: 60px;
  --text-color-1: #a6c9ff;
}
body {
  color: white;
  margin: 0px;
  background-color: #21374b;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
}
.markdown-body code br,
.markdown-body tt br {
  display: unset !important;
}

::selection {
  text-shadow: 0px 0px .18em currentColor, 0px 0px .09em currentColor;
  mix-blend-mode: hard-light;
}