.codespace {
  height: 700px;
  display: grid;
  filter: none;
  ::selection {
    text-shadow: none;
  }
  &.preparing {
    filter: blur(1px) brightness(0.7);
  }
  @media (min-width: 701px) {
    &{
      grid-template-rows: 2em calc(100% - 1.8em);
      grid-template-columns: 65% 35%;
    }
    .editor-options {
      grid-row: 1;
      grid-column: 1;
    }
    .editor-container {
      grid-row: 2;
      grid-column: 1;
    }
    .editor-result {
      grid-row: 2;
      grid-column: 2;
      background-color: gray;
    }
    .run-button {
      grid-row: 1;
      grid-column: 2;
    }
  }
  @media (max-width: 700px) {
    &{
      grid-template-rows: 2em 70% 2em 20%;
      grid-template-columns: 100%;
    }
    .editor-options {
      grid-row: 1;
      grid-column: 1;
    }
    .editor-container {
      grid-row: 2;
      grid-column: 1;
    }
    .editor-result {
      grid-row: 4;
      grid-column: 1;
    }
    .run-button {
      grid-row: 3;
      grid-column: 1;
      background-color: #8ec22e !important;
    }
  }
  .editor-options {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #287277;
    color: #64e4ff;
  }
  .run-button {
    font-size: 1.2em;
    border-width: 0;
    background-color: #2ec2a2;
    color: #226c71;
    cursor: pointer;
    &:active {
      background-color: #2c7f94;
      color: #1d97cf;
    }
  }
  .editor-result {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 46, 46);
    color: white;
  }
  a::after {
    content: none !important;
  }
  /*
  @media (max-width: 700px) {
    .editor-container {
      height: 50%;
      width: 100%;
    }
    .editor-result {
      height: 50%;
      width: 100%;
      background-color: gray;
    }
  }
  @media (min-width: 701px){
    .editor-container {
      height: 100%;
      width: 50%;
    }
    .editor-result {
      height: 100%;
      width: 50%;
      background-color: gray;
    }
  }*/
}